body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;

}
.Card{
    width: 400px;
    padding: 10px; /* khoảng cách bên trong viền*/
    text-align: center;
    border: 3px solid;
    background-color: rgb(255, 255, 255);
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #eefe13, #EF4040, #C21292, #f59918);
    box-shadow: 0 5px 8px /*thuộc tính tạo bóng cho card */
}
img{
    display: block;
    width: 250px;
    height: 250px;
    box-shadow: none;
    border-radius: 50%;
    margin: 20px auto;
}
.inf h3{
    text-align: left;
    margin: 20px; /* khoảng trống (độ rộng) của 1 phần tử*/
    margin-bottom: 2px;
}
.inf li{
    text-align: left;
    margin:auto;
}
.inf p{
    text-align: left;
    margin: 25px ;
    margin-bottom: 10px;
    margin-top: 10px;
}